#BODY .main .footer{
    background:url(/css/img/bgpaper.png) #F3F3F3;
    .inner{
        background-color:rgba(100, 140, 202, 0.05);
        margin:auto;
        padding:56px 0 62px;
    }
    .loading{
margin:9% auto;
text-align: center;
float: left;
left: 50%;
margin-left: -2.4em;
  }
  .end{
background: rgba(150,150,150,.1);
text-align: center;
height: 64px;
  }
}
