
#BODY > .Rbar{
    .scrollbar-macosx{
        .body.im{
            text-align:left;
            .link p a {
                .iconfont{
                    margin-right: 9px;
                    vertical-align: 1px;
                }
                .number {
                    background:rgba(55, 150, 0, 0.4);
                    border-radius:10px;
                    color:rgb(204, 201, 191);
                    font-size:12px;
                    font-weight:normal;
                    margin-left:6px;
                    padding:2px 7px;
                    position:absolute;
                    top:3px;
                    line-height:17px;
                }
                &:hover{
                    .number {
                        color:#fff;
                        background:rgba(255, 100, 0, 0.8);
                    }
                }
                .icon-woman{
                    font-size: 15px;
                    vertical-align: 2px;
                }
                .icon-man{
                   font-size: 13px;
                   vertical-align: 2px;
                }
                .icon-androidbulb{
                   vertical-align: 2px;
                }
            }
        }
    }
}
