#BODY > .main.im{
    .timesplit{
        text-align: center;
        font-size: 14px;
        color: #999;
        margin-top:19px;
        margin-bottom:14px;
        &:after{
            position: absolute;
            content: "";
            border-bottom: 1px dashed #ccc;
            width: 100%;
            left: 0;
            margin-top: 12px;
        }
        span{
            background: #F7F7F7;
            z-index: 1;
            padding: 0 12px;
            position: relative;
        }
    }
    .body{
        margin:10px 46px 62px;
        .item{
            max-width:740px;
            margin:auto;
            margin-top:16px;
            .name{
                font-size:12px;
                margin-top:8px;
                margin-left:20px;
                margin-bottom:8px;
                color:rgba(49,0,103,.6);
            }
            .txt{
                p{
                    font-size:18px;
                    margin-bottom:4px;
                }
               border-left:1px dashed rgba(49,0,103,.2);
               padding:0 16px;
            }
            &.me {
                .name{
                    color:rgba(0,103,49,.6);
                }
                .txt{
                    border-left-color:RGBA(0, 103, 49, .2);
                }
            }
        }
    }
    .headroom{
        background: #101022;
        text-align: center;
        font-size: 22px;
        height:66px;
        .name{
            display:inline-block;
            color: rgba(255, 255, 255, 0.7);
            position:relative;
            cursor:pointer;
            overflow:hidden;
            max-width:300px;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right:26px;
            .triangle{
                cursor:pointer;
                width: 0;
                height: 0;
                border-style: solid dashed dashed;
                position: absolute;
                margin-left: 10px;
                border-width: 5px;
                border-color: rgba(255, 255, 255, 0.7) transparent transparent;
                right: 7px;
                top:31px;    
            }
            &:hover{
                color:#fff;
                .triangle{
                    border-color: #fff transparent transparent;
                } 
            }
        }
    }
    .replybar{
        transform:translateZ(0);
        textarea{
            outline:0;
            width:100%;
            resize:none;
            border:0;
            height:32px;
            line-height:32px;
            padding:7px 16px;
            height:46px;
            padding-left:57px;
        }
        .icon-yfadd{
            position:absolute;
            height: 46px;
            width: 46px;
            text-align: center;
            line-height: 46px;
            color: #ccc;
            background: #fff;
            border-right: 2px solid #ccc;
            background: transparent;
            display: block;
            font-size: 22px;
            font-weight: bold;
            padding-left: 2px;
        }
        height:46px;
        border-top:2px solid #ccc;
        left:30%;
        right:0;
        bottom:0;
        position:fixed;
    }
}
#BODY > .Rbar{
    .scrollbar-macosx{
        .body.im{
            text-align:left;
            .link p {
                margin:0;
                .number {
                    background: rgba(55, 150, 0, 0.4);
                    border-radius: 6px;
                    color: #ccc9bf;
                    font-size: 12px;
                    font-weight: bold;
                    margin-left: -4px;
                    padding: 1px 6px;
                    position: relative;
                    line-height: 17px;
                    top: -12px;
                    cursor: pointer;
                    transform: scale(0.9);
                    display: inline-block;
                }
                &:hover{
                    .number {
                        color:#fff;
                        background:rgba(255, 100, 0, 0.8);
                    }
                }
                a{
                    padding:1px 12px 1px 10px;
                    max-width: 226px;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    .iconfont{
                        margin-right: 9px;
                        vertical-align: 1px;
                    }
                    .icon-woman{
                        font-size: 15px;
                        vertical-align: 2px;
                    }
                    .icon-man{
                       font-size: 13px;
                       vertical-align: 2px;
                    }
                    .icon-reply{
                       font-size: 13px;
                       vertical-align: 2px;
                    }
                    .icon-chat{
                        font-size:17px;
                    }
                    .icon-androidbulb{
                       vertical-align: 2px;
                    }
                }
            }
        }
    }
}
