#BODY > .main{
    .topbar{
        background:#101022;
        text-align: center;
        font-size: 22px;
        color:rgba(255,255,255,.7);
        padding-bottom: 12px;
        padding-top: 9px;
    }
    .triangle{
        width: 0;
        height: 0;
        border-style: solid dashed dashed;
        position: relative;
        vertical-align: -13px;
        margin-left: 10px;
        border-width: 5px;
        color: rgba(255,255,255,.7);
        border-color: rgba(255,255,255,.7) transparent transparent;
    }
    .replybar{
        textarea{
            outline:0;
            width:100%;
            resize:none;
            border:0;
            height:32px;
            line-height:32px;
            padding:7px 16px;
            height:46px;
            padding-left:57px;
        }
        .icon-yfadd{
            position:absolute;
            height: 46px;
            width: 46px;
            text-align: center;
            line-height: 46px;
            color: #ccc;
            background: #fff;
            border-right: 2px solid #ccc;
            background: transparent;
            display: block;
            font-size: 22px;
            font-weight: bold;
            padding-left: 2px;
        }
        height:46px;
        border-top:2px solid #ccc;
        left:30%;
        right:0;
        bottom:0;
        position:fixed;
    }
}
#BODY > .Rbar{
    .scrollbar-macosx{
        .body.im{
            text-align:left;
            .link p {
                margin:0;
                .number {
                    background: rgba(55, 150, 0, 0.4);
                    border-radius: 6px;
                    color: #ccc9bf;
                    font-size: 12px;
                    font-weight: bold;
                    margin-left: -4px;
                    padding: 1px 6px;
                    position: relative;
                    line-height: 17px;
                    top: -12px;
                    cursor: pointer;
                    transform: scale(0.9);
                    display: inline-block;
                }
                &:hover{
                    .number {
                        color:#fff;
                        background:rgba(255, 100, 0, 0.8);
                    }
                }
                a{
                    padding:1px 12px 1px 10px;
                    max-width: 226px;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    .iconfont{
                        margin-right: 9px;
                        vertical-align: 1px;
                    }
                    .icon-woman{
                        font-size: 15px;
                        vertical-align: 2px;
                    }
                    .icon-man{
                       font-size: 13px;
                       vertical-align: 2px;
                    }
                    .icon-reply{
                       font-size: 13px;
                       vertical-align: 2px;
                    }
                    .icon-chat{
                        font-size:17px;
                    }
                    .icon-androidbulb{
                       vertical-align: 2px;
                    }
                }
            }
        }
    }
}
