.post_read {
    blockquote{
        top:6px;
        p.L a span{
            color:#465D99;
        }
        p{
        margin-bottom:14px;
        }
        position: relative;
        margin: 0px;
        margin-bottom:30px;
        padding-left: 16px;
        color: #390;
       &:after{
            content: '';
            position: absolute;
            top: 9px;
            bottom: 4px;
            left: 0px;
            width: 2px;
            background-color: #390; 
       }
        &:before{
            font-family:Arial;
            content: '“';
            position: absolute;
            top: -34px;
            left: -3px;
            font-size: 42px;
        }
    }

    a{
        color:#139;
        padding-bottom:3px;
        text-decoration: none;
        border-bottom: 1px solid #139;
        &:hover{
            color:#f40;
            border-bottom-color:#f40; 
        }
    }

    img{
        margin-left:auto;
        margin-right:auto;
        display:block;
        max-width:100%;
        margin-top:32px;
    }
    p,ul,pre, blockquote{
        font-size:16px;
    }
    p,ul{
        margin-bottom:22px;
    }
    .author .name{
        float:right;
        u{
            display: inline-block;
            width: 28px;
            border-bottom: 1px solid #000;
            height: 17px;
            vertical-align: 6px;
            margin-right: 12px;
        }
        i{
            font-style:normal;
        }
    }
}
