#BODY .Rbar>.bg{
background-image:url(//dn-noman.qbox.me/ewbgss);
}

#BODY>.Rbar .Rbody .scrollbar-macosx .body .profile .logo .bg{
background:linear-gradient(top,#F00 0,#d00 50%,#a00 100%);
}
#BODY>.Rbar .cover0{
background:RGBA(0,0,0,.3)!important;
}
#BODY>.Rbar .Rbody .scrollbar-macosx .body .profile .logo .bg .svg{
left:0;
}
