@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1435561929_4138434.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1435561929_4138434.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1435561929_4138434.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1435561929_4138434.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1435561929_4138434.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-write:before { content: "\e625"; }
.icon-jisutuikuan:before { content: "\e611"; }
.icon-thin007bookreadingreadbookmark:before { content: "\e60b"; }
.icon-fly:before { content: "\e613"; }
.icon-xueqiu:before { content: "\e601"; }
.icon-twitter:before { content: "\e607"; }
.icon-mail:before { content: "\e608"; }
.icon-close:before { content: "\e60f"; }
.icon-gonggaonotice:before { content: "\e605"; }
.icon-menu:before { content: "\e602"; }
.icon-weixin:before { content: "\e609"; }
.icon-guanzhuwodekehu:before { content: "\e60d"; }
.icon-fold:before { content: "\e600"; }
.icon-unfold:before { content: "\e610"; }
.icon-earth:before { content: "\e60c"; }
.icon-reply:before { content: "\e615"; }
.icon-search:before { content: "\e60a"; }
.icon-hide:before { content: "\e604"; }
.icon-weibo:before { content: "\e606"; }
.icon-star:before { content: "\e612"; }
.icon-talk12:before { content: "\e603"; }
.icon-trash:before { content: "\e616"; }
.icon-chat:before { content: "\e614"; }
.icon-icon:before { content: "\e60e"; }

.icon-earth:before { content:"\e60c"; }
.icon-fold:before { content:"\e600"; }
.icon-unfold:before { content:"\e610"; }
.icon-fly:before {content:"\e613";}
.icon-camera:before {content:"\e619";}
.icon-qq:before{content:"\e617";}
.icon-douban:before{content:"\e61a";}
.icon-zoomin:before{content:"\e620";}
.icon-zoomout:before{content:"\e621";}
.icon-upload:before{content:"\e622";}
.icon-evernote:before{content:"\e61b";}
.icon-refresh:before{content:"\e61d";}
.icon-arrowdown:before{content:"\e61e";}
.icon-evernote:before{content:"\e61b";}
.icon-refresh:before{content:"\e61d";}
.icon-edit:before{content:"\e624";}
.icon-send:before{content:"\e613";}
.icon-at:before{content:"\e610";}
.icon-cancel-circled:before{content:"\e628";}
