@-moz-keyframes loading {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
@-webkit-keyframes loading {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
@keyframes loading {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  -moz-animation: loading 1000ms 300ms infinite ease-out;
  -webkit-animation: loading 1000ms 300ms infinite ease-out;
  animation: loading 1000ms 300ms infinite ease-out;
  background: #dde2e7;
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 0.9em;
  height: 1.5em;
  margin: 0 1.6em;
}
.loading:not(:required):before, .loading:not(:required):after {
  background: #dde2e7;
  content: '';
  display: inline-block;
  width: 0.9em;
  height: 1.5em;
  position: absolute;
  top: 0;
}
.loading:not(:required):before {
  -moz-animation: loading 1000ms 150ms infinite ease-out;
  -webkit-animation: loading 1000ms 150ms infinite ease-out;
  animation: loading 1000ms 150ms infinite ease-out;
  left: -1.6em;
}
.loading:not(:required):after {
  -moz-animation: loading 1000ms 450ms infinite ease-out;
  -webkit-animation: loading 1000ms 450ms infinite ease-out;
  animation: loading 1000ms 450ms infinite ease-out;
  right: -1.6em;
}
